<header>
<div class="container" style="background-color:blue;">
    <h4>Buy Insurance</h4>
</div>
</header>
<form (ngSubmit)="saveVehicle(vehicledata)" #vehicleForm="ngForm">
    <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="4Wheeler" [(ngModel)]="vehicledata.Typeofvehicle" #gridRadios1="ngModel">
          <label class="form-check-label" for="gridRadios1">
            4 Wheeler Insurance
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="2Wheeler" [(ngModel)]="vehicledata.Typeofvehicle" #gridRadios2="ngModel">
          <label class="form-check-label" for="gridRadios2">
            2 Wheeler Insurance
          </label>
        </div>
    </div>
    <div class="container-2">
        <div class="mb-3">
            <input type="text" class="form-control" id="manufacturer" placeholder="Enter ManuFacturer" [(ngModel)]="vehicledata.ManufacturerName" #manufacture="ngModel">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="model" placeholder="Enter Model"  [(ngModel)]="vehicledata.Model" #manufacture="ngModel">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="Licence" placeholder="Enter Driving Licence" [(ngModel)]="vehicledata.License" #Licence="ngModel">
          </div>
          <div class="mb-3">
            <input type="date" class="form-control" id="date" placeholder="Enter Purchase Date" [(ngModel)]="vehicledata.PurchaseDate" #date="ngModel">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="rnumber" placeholder="Enter Registration Number" [(ngModel)]="vehicledata.RegistrationNumber" #rnumber="ngModel">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="enumber" placeholder="Enter Engine Number" [(ngModel)]="vehicledata.EngineNumber" #enumber="ngModel">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="cnumber" placeholder="Confirm Chassis Number" [(ngModel)]="vehicledata.ChassisNumber" #cnumber="ngModel">
          </div>
          <div class="col-12" style="margin-left: 46%;">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
</form>