<div class="container">
    <h3>Claim History</h3>
    <div class="jumbotron" style="background-color:darkgrey;">
        <table class="table">
            <thead>
                <tr>
                    <th>Claim No.</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>C1010</td>
                    <td>28/07/2022</td>
                    <td>Pending</td>
                    <td>10000</td>
                    <td><button type="button" class="btn btn-success">✓</button></td>
                </tr>
                <tr>
                    <td>C1011</td>
                    <td>28/07/2022</td>
                    <td>Approved</td>
                    <td>150000</td>
                    <td><button type="button" class="btn btn-danger">X</button></td>
                </tr>
            </tbody>

        </table>

    </div>


</div>